# Copyright (c) 2022 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear

gettid: 1
sched_get_priority_min: 1
sched_get_priority_max: 1
